# Web Scraping Using Selenium

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nethravathi s\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\nethravathi s\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [3]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [4]:
# Getting the webpage of mentioned url
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
# Searching the web element for job title
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [6]:
# Entering “Data Analyst” in “Skill,Designations,Companies” field 
search_job.send_keys('Data Analyst')

In [7]:
# Searching the web element for job location
search_location = driver.find_element_by_id('qsb-location-sugg')
search_location

In [8]:
# Entering "Bangalore" in “enter the location” field
search_location.send_keys('Bangalore')

In [9]:
# Clicking on Search button
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_btn.click()

In [10]:
# Fetching all URLs
url_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

urls=[]   #empty list
for i in url_tag:
    urls.append(i.get_attribute("href"))
urls

['https://www.naukri.com/job-listings-data-analyst-rapido-bike-taxi-bangalore-bengaluru-2-to-4-years-290721501591?src=jobsearchDesk&sid=16287834287142920&xp=1&px=1',
 'https://www.naukri.com/job-listings-process-data-analyst-hitachi-abb-power-grids-bangalore-bengaluru-2-to-6-years-280521501722?src=jobsearchDesk&sid=16287834287142920&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-analyst-innovsource-services-private-limited-bangalore-bengaluru-1-to-6-years-290721002866?src=jobsearchDesk&sid=16287834287142920&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-analyst-icf-next-bangalore-bengaluru-1-to-2-years-220721901048?src=jobsearchDesk&sid=16287834287142920&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-analyst-ii-customer-support-vimeo-technologies-private-limited-bangalore-bengaluru-1-to-5-years-210621500212?src=jobsearchDesk&sid=16287834287142920&xp=5&px=1',
 'https://www.naukri.com/job-listings-product-data-analyst-sql-tableau-qlikview-connexions-bangalore-bengaluru-1-to-4-years-200721900022?src=jobsearchDesk&sid=16287834287142920&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analyst-2-5-years-bangalore-teamware-solutions-a-division-of-quantum-leap-co-nsulting-private-ltd-bangalore-bengaluru-2-to-5-years-040821009756?src=jobsearchDesk&sid=16287834287142920&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-analyst-bion-bangalore-bengaluru-1-to-3-years-160621904774?src=jobsearchDesk&sid=16287834287142920&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-analyst-careerlabs-technologies-private-limited-bangalore-bengaluru-0-to-3-years-110821002383?src=jobsearchDesk&sid=16287834287142920&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-analyst-transportation-gojek-tech-bangalore-bengaluru-2-to-5-years-110821500323?src=jobsearchDesk&sid=16287834287142920&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-analyst-radial-hr-solutions-bangalore-bengaluru-2-to-5-years-150621008783?src=jobsearchDesk&sid=16287834287142920&xp=11&px=1',
 'https://www.naukri.com/job-listings-supply-chain-data-analyst-hr-central-bangalore-bengaluru-2-to-7-years-250721000203?src=jobsearchDesk&sid=16287834287142920&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-analyst-ibm-india-pvt-limited-bangalore-bengaluru-0-to-1-years-160721908057?src=jobsearchDesk&sid=16287834287142920&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-analyst-pharmeasy-bangalore-bengaluru-1-to-3-years-210621500100?src=jobsearchDesk&sid=16287834287142920&xp=14&px=1',
 'https://www.naukri.com/job-listings-immediate-hiring-for-data-analyst-bangalore-wissen-technology-bangalore-bengaluru-1-to-5-years-290721002996?src=jobsearchDesk&sid=16287834287142920&xp=15&px=1',
 'https://www.naukri.com/job-listings-immediate-hiring-for-data-analyst-bangalore-wissen-technology-bangalore-bengaluru-1-to-5-years-290721002995?src=jobsearchDesk&sid=16287834287142920&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-analyst-power-bi-bangalore-talent-corner-hr-services-pvt-ltd-bangalore-bengaluru-2-to-5-years-040821005921?src=jobsearchDesk&sid=16287834287142920&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-analyst-xylem-resource-management-pvt-ltd-bangalore-bengaluru-2-to-5-years-090821005022?src=jobsearchDesk&sid=16287834287142920&xp=18&px=1',
 'https://www.naukri.com/job-listings-it-data-analyst-bdo-rise-private-limited-bangalore-bengaluru-2-to-7-years-220721002054?src=jobsearchDesk&sid=16287834287142920&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-analyst-multi-recruit-bangalore-bengaluru-2-to-5-years-110821005096?src=jobsearchDesk&sid=16287834287142920&xp=20&px=1']

In [11]:
# Extracting the data for the first 10 jobs results
# Scraping data for job titles
job_titles = []   # empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tag = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(title_tag.text)
    except:
        job_titles.append('-')
job_titles = job_titles[:10]
job_titles

['Data Analyst',
 'Process Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst II - Customer Support',
 'Product/Data Analyst - SQL/Tableau/Qlikview',
 'Data Analyst _ 2-5 Years _ Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Transportation']

In [12]:
# Scraping data for job location 
job_location = []   #empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        location_tag = driver.find_element_by_xpath("//span[@class='location ']//a")
        job_location.append(location_tag.text)
    except:
            job_location.append('-')
job_location = job_location[:10]
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [13]:
# Scraping data for companies name
company_name = []   #empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        company_tag = driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        company_name.append(company_tag.text)
    except:
        company_name.append('-')
company_name = company_name[:10]
company_name

['Rapido -bike taxi',
 'Hitachi ABB Power Grids',
 'Innovsource Services Private Limited',
 'ICF Next',
 'VIMEO TECHNOLOGIES PRIVATE LIMITED',
 'Connexions',
 'Teamware Solutions ( A division of Quantum Leap Co nsulting Private LTD).',
 'Bion',
 'CAREERLABS TECHNOLOGIES PRIVATE LIMITED',
 'Gojek Tech']

In [14]:
# Scraping data for experience required
experience_req = []   #empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        experience_tag = driver.find_element_by_xpath("//div[@class='exp']/span")
        experience_req.append(experience_tag.text)
    except:
        experience_req.append('-')
experience_req = experience_req[:10]
experience_req

['2 - 4 years',
 '2 - 6 years',
 '1 - 6 years',
 '1 - 2 years',
 '1 - 5 years',
 '1 - 4 years',
 '2 - 5 years',
 '1 - 3 years',
 '0 - 3 years',
 '2 - 5 years']

In [15]:
# Checking length of the collected data
print(len(job_titles),len(job_location),len(company_name),len(experience_req))

10 10 10 10

In [16]:
# Creating the DataFrame for the scraped data

jobs = pd.DataFrame({})
jobs["Job Title"] = job_titles
jobs["Job Location"] = job_location
jobs["Company Name"] = company_name
jobs["Experience Required"] = experience_req
jobs

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru,Rapido -bike taxi,2 - 4 years
1,Process Data Analyst,Bangalore/Bengaluru,Hitachi ABB Power Grids,2 - 6 years
2,Data Analyst,Bangalore/Bengaluru,Innovsource Services Private Limited,1 - 6 years
3,Data Analyst,Bangalore/Bengaluru,ICF Next,1 - 2 years
4,Data Analyst II - Customer Support,Bangalore/Bengaluru,VIMEO TECHNOLOGIES PRIVATE LIMITED,1 - 5 years
5,Product/Data Analyst - SQL/Tableau/Qlikview,Bangalore/Bengaluru,Connexions,1 - 4 years
6,Data Analyst _ 2-5 Years _ Bangalore,Bangalore/Bengaluru,Teamware Solutions ( A division of Quantum Lea...,2 - 5 years
7,Data Analyst,Bangalore/Bengaluru,Bion,1 - 3 years
8,Data Analyst,Bangalore/Bengaluru,CAREERLABS TECHNOLOGIES PRIVATE LIMITED,0 - 3 years
9,Data Analyst - Transportation,Bangalore/Bengaluru,Gojek Tech,2 - 5 years

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [97]:
driver = webdriver.Chrome("chromedriver.exe")

In [98]:
# Getting the webpage of mentioned url
url = 'https://www.naukri.com/'
driver.get(url)

In [99]:
# Searching the web element for job title
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [100]:
# Entering “Data Scientist” in “Skill,Designations,Companies” field 
search_job.send_keys('Data Scientist')

In [101]:
# Searching the web element for job location
search_location = driver.find_element_by_id('qsb-location-sugg')
search_location

In [102]:
# Entering "Bangalore" in “enter the location” field
search_location.send_keys('Bangalore')

In [103]:
# Clicking on Search button
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_btn.click()

In [104]:
# Fetching all URLs
url_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

urls=[]   #empty list
for i in url_tag:
    urls.append(i.get_attribute("href"))

In [105]:
# Extracting the data for the first 10 jobs results
# Scraping data for job titles
job_titles = []   # empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tag = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(title_tag.text)
    except:
        job_titles.append('-')
job_titles = job_titles[:10]
job_titles

['Data Scientist- Senior Business Analyst/Lead Analyst',
 '-',
 'Senior/ Lead Data Scientist',
 '-',
 '-',
 'Senior Data Scientist (Analytics),',
 '-',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [21]:
# Scraping data for job location 
job_location = []   #empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        location_tag = driver.find_element_by_xpath("//span[@class='location ']//a")
        job_location.append(location_tag.text)
    except:
            job_location.append('-')
job_location = job_location[:10]
job_location

['Gurgaon/Gurugram',
 '-',
 'Bangalore/Bengaluru',
 '-',
 '-',
 'Bangalore/Bengaluru',
 '-',
 'Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [22]:
# Scraping data for companies name
company_name = []   #empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        company_tag = driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        company_name.append(company_tag.text)
    except:
        company_name.append('-')
company_name = company_name[:10]
company_name

['Evalueserve.com Pvt. Ltd',
 '-',
 'Superior Group',
 '-',
 '-',
 'Luxoft',
 '-',
 'Tiger Analytics India LLP',
 'Signify',
 'Cognizer India Private Limited']

In [26]:
# Scraping data for job discription
job_description = []  #empty list
for i in urls[:10]:
    driver.get(i)
    time.sleep(5)
    try:
        description_tag = driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(description_tag.text)
    except:
            job_description.append("-")

In [27]:
# Checking length of the scraped data
print(len(job_titles),len(job_location),len(company_name),len(job_description))

10 10 10 10

In [28]:
# Creating DataFrame for scraped data
jobs = pd.DataFrame({})
jobs["Job Title"] = job_titles
jobs["Job Location"] = job_location
jobs["company Name"] = company_name
jobs["Job Description"] = job_description
jobs

,Job Title,Job Location,company Name,Job Description
0,Data Scientist- Senior Business Analyst/Lead A...,Gurgaon/Gurugram,Evalueserve.com Pvt. Ltd,Job description\nJob Description\nUnderstand a...
1,-,-,-,-
2,Senior/ Lead Data Scientist,Bangalore/Bengaluru,Superior Group,Job description\nProvide advanced analytical c...
3,-,-,-,-
4,-,-,-,-
5,"Senior Data Scientist (Analytics),",Bangalore/Bengaluru,Luxoft,Job description\n\n Data and Analytics Propos...
6,-,-,-,-
7,Senior Data Scientist,Chennai,Tiger Analytics India LLP,Job description\nRoles and Responsibilities\nT...
8,Senior Data Scientist,Bangalore/Bengaluru,Signify,"Job description\nWhat you ll do\nResearch, des..."
9,Senior Data Scientist,Bangalore/Bengaluru,Cognizer India Private Limited,Job description\n\nRoles and Responsibilities\...

### Q3:Scraping the data using filters available on the webpage
- **Use the location and salary filter.**
- **Scrape data for “Data Scientist” designation for first 10 job results.**
- **Scrape the job-title, job-location, company_name,experience_required.**

In [29]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [30]:
# Getting the webpage of mentioned url
url = 'https://www.naukri.com/'
driver.get(url)

In [31]:
# Searching the web element for job title
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [32]:
# Entering “Data Scientist” in “Skill,Designations,Companies” field 
search_job.send_keys('Data Scientist')

In [33]:
# Clicking on Search button
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [34]:
# Applying location filter for the location "Delhi/NCR"
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')
location_filter.click()

In [35]:
# Applying salary filter 3-6 lakhs
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [36]:
# Fetching all URLs
url_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

urls=[]   #empty list
for i in url_tag:
    urls.append(i.get_attribute("href"))

In [37]:
# Extracting the data for “Data Scientist” designation for first 10 job results.
# Scraping data for job titles
job_titles = []   # empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        title_tag = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(title_tag.text)
    except:
        job_titles.append('-')
job_titles = job_titles[:10]
job_titles

['Data Scientist Internship',
 'Data Scientist',
 'Immediate Openings For DATA Scientist with 6 To 7 yrs of Experience',
 'Data Scientist',
 'Data Scientist / Sr. Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Senior Data Scientist - Noida',
 'Data Scientist',
 'Data Scientist',
 '-']

In [38]:
# Scraping data for job location 
job_location = []   #empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        location_tag = driver.find_element_by_xpath("//span[@class='location ']/a")
        job_location.append(location_tag.text)
    except:
            job_location.append('-')
job_location = job_location[:10]
job_location

['New Delhi',
 'Gurgaon/Gurugram',
 'Kolkata',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'Mumbai',
 '-']

In [39]:
# Scraping data for companies name
company_name = []   #empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        company_tag = driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        company_name.append(company_tag.text)
    except:
        company_name.append('-')
company_name = company_name[:10]
company_name

['iHackers Inc',
 'CBRE South Asia Pvt Ltd',
 'Entune IT Consulting Private Limited',
 'Agreeya',
 'WEGARNER SOLUTIONS PRIVATE LIMITED',
 'GABA Consultancy services',
 'Optum Global Solutions (India) Private Limited',
 'Decimal Technologies Pvt Ltd.',
 'Fractal Analytics',
 '-']

In [40]:
# Scraping data for experience required
experience_req = []   #empty list
for i in urls:
    driver.get(i)
    time.sleep(5)
    try:
        experience_tag = driver.find_element_by_xpath("//div[@class='exp']/span")
        experience_req.append(experience_tag.text)
    except:
        experience_req.append('-')
experience_req = experience_req[:10]
experience_req

['0 - 1 years',
 '2 - 4 years',
 '5 - 8 years',
 '3 - 6 years',
 '0 - 5 years',
 '0 years',
 '2 - 6 years',
 '1 - 3 years',
 '3 - 7 years',
 '-']

In [41]:
# Checking the length of scraped data
print(len(job_titles),len(job_location),len(company_name),len(experience_req))

10 10 10 10

In [42]:
# Creating DataFrame for the scraped data
jobs = pd.DataFrame({})
jobs["Job Title"] = job_titles
jobs["Job Location"] = job_location
jobs["company Name"] = company_name
jobs["Experience Required"] = experience_req
jobs

,Job Title,Job Location,company Name,Experience Required
0,Data Scientist Internship,New Delhi,iHackers Inc,0 - 1 years
1,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2 - 4 years
2,Immediate Openings For DATA Scientist with 6 T...,Kolkata,Entune IT Consulting Private Limited,5 - 8 years
3,Data Scientist,Noida,Agreeya,3 - 6 years
4,Data Scientist / Sr. Data Scientist,Noida,WEGARNER SOLUTIONS PRIVATE LIMITED,0 - 5 years
5,Only Fresher / Data Scientist / Data Analyst /...,Noida,GABA Consultancy services,0 years
6,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2 - 6 years
7,Data Scientist,Gurgaon/Gurugram,Decimal Technologies Pvt Ltd.,1 - 3 years
8,Data Scientist,Mumbai,Fractal Analytics,3 - 7 years
9,-,-,-,-

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [53]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [35]:
# Getting the webpage of mentioned url
url = 'https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [36]:
#Searching web elemnt for job title
search_job = driver.find_element_by_id('scKeyword')
search_job

In [37]:
# Entering “Data Scientist” in “Job Title,Keyword,Company” field
search_job.send_keys('Data Scientist')

In [38]:
# Searching the web element for job location
search_location = driver.find_element_by_id('scLocation')
search_location

In [41]:
# Entering “Noida” in “location” field
search_location.send_keys('Noida')

In [42]:
# Clicking on Search button
search_btn = driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm SearchStyles__searchKeywordSubmit']")
search_btn.click()

In [43]:
# Scraping data for first 10 jobs

# Scraping data for company name
company_tag = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")

company_name = []   #empty list
for i in company_tag:
    company_name.append(i.text)
company_name = company_name[:10]
company_name

['Liberin Technologies Private Limited',
 'Pixel Vision',
 'Newgen Software',
 'Crowe',
 'Salasar New Age Technologies',
 'NatWest Group',
 'Ericsson',
 'Techlive',
 'Biz2Credit Inc',
 'Uncodemy']

In [46]:
# Scraping data for No of days ago when job was posted
job_posted = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

No_of_Days = []  #empty list
for i in job_posted:
    No_of_Days.append(i.text)
No_of_Days = No_of_Days[:10]
No_of_Days

['9d', '19d', '20d', '30d+', '30d+', '2d', '4d', '30d+', '30d+', '24h']

In [48]:
# Scraping data for rating of the company
company_rating = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

Ratings = []  #empty list
for i in company_rating:
    Ratings.append(i.text)
Ratings = Ratings[:10]
Ratings

['3.3', '3.8', '3.9', '4.1', '5.0', '4.1', '3.8', '3.8', '3.1', '3.7']

In [50]:
# Checking length of scraped data
print(len(company_name),len(No_of_Days),len(Ratings))

10 10 10

In [53]:
# Creating DataFrame for scraped data
glass_door_jobs = pd.DataFrame({})
glass_door_jobs["Company Name"] = company_name
glass_door_jobs["No of Days Ago"] = No_of_Days
glass_door_jobs["Company Ratings"] = Ratings
glass_door_jobs

                           Company Name No of Days Ago Company Ratings
0  Liberin Technologies Private Limited             9d             3.3
1                          Pixel Vision            19d             3.8
2                       Newgen Software            20d             3.9
3                                 Crowe           30d+             4.1
4          Salasar New Age Technologies           30d+             5.0
5                         NatWest Group             2d             4.1
6                              Ericsson             4d             3.8
7                              Techlive           30d+             3.8
8                        Biz2Credit Inc           30d+             3.1
9                              Uncodemy            24h             3.7

### Q5:Write a python program to scrape the salary data for Data Scientist designation in Noida location.

### You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary and ratings of the company

In [17]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [18]:
# Getting the webpage of mentioned url
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [19]:
#Searching web elemnt for job title
search_job = driver.find_element_by_id('scKeyword')
search_job

In [20]:
# Entering “Data Scientist” in “Job Title,Keyword,Company” field
search_job.send_keys('Data Scientist')

In [21]:
# Searching the web element for job location
search_location = driver.find_element_by_id('scLocation')
search_location

In [22]:
# Entering “Noida” in “location” field
search_location.send_keys('Noida')

In [23]:
# Clicking on Search button
search_btn = driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm SearchStyles__searchKeywordSubmit']")

search_btn.click()

In [27]:
# Scraping data for first 10 companies

company_names=[]
companies = driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']/a")
for i in companies:
    company_names.append(i.text)
company_names = company_names[:10]
company_names

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum',
 'Optum Global Solutions']

In [29]:
# Scraping data for number of salaries
salary = driver.find_elements_by_xpath("//span[@class='m-0 css-1b6bxoo']")

No_of_salaries = []   #empty list
for i in salary:
    No_of_salaries.append(i.text)
No_of_salaries = No_of_salaries[:10]
No_of_salaries

['18 salaries',
 '18 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '9 salaries']

In [30]:
# extracting Average salary data
salary=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]/h3')

average_salary=[]
for i in salary:
    average_salary.append(i.text)
average_salary = average_salary[:10]
average_salary

['₹6,12,205',
 '₹9,00,000',
 '₹11,63,336',
 '₹12,18,244',
 '₹7,39,238',
 '₹12,80,000',
 '₹8,63,750',
 '₹11,10,000',
 '₹14,23,677',
 '₹13,28,697']

In [37]:
# extracting minimum and maximum salary data
salary=driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]')

min_max_salary=[]
for i in salary:
    min_max_salary.append(i.text.replace("\n","--"))
min_max_salary = min_max_salary[:10]
min_max_salary

['₹3L--₹13L',
 '₹6L--₹27L',
 '₹6L--₹22L',
 '₹5L--₹1Cr',
 '₹4L--₹16L',
 '₹8L--₹15L',
 '₹5L--₹15L',
 '₹6L--₹15L',
 '₹8L--₹20L',
 '₹4L--₹22L']

In [60]:
# extracting minimum salary data
minsalary=driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[1]')

min_salary=[]
for i in minsalary:
    min_salary.append(i.text.replace("\n","--"))
min_salary = min_salary[:12]
min_salary

['₹3L',
 '₹6L',
 '₹6L',
 '₹5L',
 '₹4L',
 '₹8L',
 '₹5L',
 '₹6L',
 '₹8L',
 '₹4L',
 '₹2L',
 '₹6L']

In [46]:
# extracting maximun salary data
maxsalary=driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]/p[2]')

max_salary=[]
for i in maxsalary:
    max_salary.append(i.text.replace("\n","--"))
max_salary = max_salary[:12]
max_salary

['₹13L',
 '₹27L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹15L',
 '₹20L',
 '₹22L',
 '₹18L',
 '₹17L']

In [49]:
# extracting rating of the company data 
company_rating=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')

Rating=[]
for i in company_rating:
    Rating.append(i.text)
Rating = Rating[:10]
Rating

['3.9', '3.9', '4.1', '3.9', '4', '3.6', '4.2', '3.6', '3.7', '3.9']

In [61]:
# Creating DataFrame for scraped data
glass_door_jobs = pd.DataFrame({})
glass_door_jobs["Company Name"] = company_names[:10]
glass_door_jobs["No of Salaries"] = No_of_salaries[:10]
glass_door_jobs["Average Salary"] = average_salary[:10]
glass_door_jobs["Min_Max Salary"] = min_max_salary[:10]
glass_door_jobs["Min Salary"] = min_salary[:10]
glass_door_jobs["Max Salary"] = max_salary[:10]
glass_door_jobs["Ratings"] = Rating[:10]
glass_door_jobs

,Company Name,No of Salaries,Average Salary,Min_Max Salary,Min Salary,Max Salary,Ratings
0,Tata Consultancy Services,18 salaries,"₹6,12,205",₹3L--₹13L,₹3L,₹13L,3.9
1,IBM,18 salaries,"₹9,00,000",₹6L--₹27L,₹6L,₹27L,3.9
2,Accenture,15 salaries,"₹11,63,336",₹6L--₹22L,₹6L,₹22L,4.1
3,Delhivery,15 salaries,"₹12,18,244",₹5L--₹1Cr,₹5L,₹1Cr,3.9
4,Ericsson-Worldwide,14 salaries,"₹7,39,238",₹4L--₹16L,₹4L,₹16L,4
5,UnitedHealth Group,14 salaries,"₹12,80,000",₹8L--₹15L,₹8L,₹15L,3.6
6,Valiance Solutions,10 salaries,"₹8,63,750",₹5L--₹15L,₹5L,₹15L,4.2
7,EXL Service,9 salaries,"₹11,10,000",₹6L--₹15L,₹6L,₹15L,3.6
8,Optum,9 salaries,"₹14,23,677",₹8L--₹20L,₹8L,₹20L,3.7
9,Optum Global Solutions,9 salaries,"₹13,28,697",₹4L--₹22L,₹4L,₹22L,3.9

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

**1. Brand**

**2. Product Description**

**3. Price**

**4. Discount %**

In [126]:
# Connecting to the web driver
driver = webdriver.Chrome("chromedriver.exe")

In [129]:
# Getting the webpage of mentioned url
url = 'https://www.flipkart.com/'
driver.get(url)

In [131]:
#Searching web elemnt for job title
search_glasses = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_glasses

In [132]:
#Enter “sunglasses” in the search field where “search for products, brands and more"
search_glasses.send_keys("sunglasses")

In [138]:
# Clicking on Search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

search_btn.click()

In [141]:
# Fetching all the URLs 
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")

urls = []  #empty list
for i in url:
    urls.append(i.get_attribute('href'))
urls

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [148]:
# Scraping data for sunglasses brand
glass_brand = []  #empty list
for i in urls:
    driver.get(i)
    Brand= driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in Brand:
        glass_brand.append(i.text)
glass_brand = glass_brand[:100]
glass_brand

['Wrogn',
 'hipe',
 'Elligator',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'Villain',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'HAMIW COLLECTION',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'Silver Kartz',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'kingsunglasses',
 'Elligator',
 'Singco India',
 'Wrogn',
 'Fastrack',
 'hipe',
 'Singco India',
 'ROYAL SON',
 'Elligator',
 'Fastrack',
 'Elligator',
 'ROYAL SON',
 'Fastrack',
 'Elligator',
 'NuVew',
 'ROYAL SON',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Wrogn',
 'GANSTA',
 'PIRASO',
 'DEIXELS',
 'Villain',
 'Singco',
 'Fastrack',
 'HIPPON',
 'HAMIW COLLECTION',
 'NuVew',
 'Fastrack',
 'AISLIN',
 'hipe',
 'Fastrack',
 'Fastrack',
 'GANSTA',
 'ROYAL SON',
 'PIRASO',
 'hipe',
 'hipe',
 'ROYAL SON',
 'ROYAL SON',
 'Singco India',
 'DEIXELS',
 'ROYAL SON',
 'hipe',
 'Singco India',
 'GANSTA',
 'Wrogn',
 'kingsunglasses',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'PIRASO',
 'Singco India',
 'AISLIN',
 'NuVew',
 'ROYAL SON',
 'Wrogn',
 'Fastrack',
 'PHENOMENAL',
 'AISLIN',
 'HAMIW COLLECTION',
 'Badfella',
 'PHENOMENAL',
 'Elligator',
 'hipe',
 'Singco India',
 'hipe',
 'Fastrack',
 'Villain',
 'Flizz',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROYAL SON']

In [149]:
len(glass_brand)

100

In [156]:
# Scraping data for product discription
product_desc = []  #empty list
for i in urls:
    driver.get(i)
    Product = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in Product:
        product_desc.append(i.text)
product_desc = product_desc[:100]
product_desc

['Mirrored Wayfarer Sunglasses (51)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'Polarized, UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Mirrored, Others Aviator Sunglasses (33)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Polarized Retro Square Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored Wayfarer Sunglasses (51)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Others Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (59)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'Polarized, UV Protection Round Sunglasses (49)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Recta...',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (53)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Aviator Sunglasses (60)',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Mirrored, Others Aviator Sunglasses (33)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (58)',
 'Mirrored Wayfarer Sunglasses (51)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Wayfarer, Rectangular Sunglasses (61)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (49)']

In [158]:
len(product_desc)

100

In [160]:
# Scraping data for product price
product_price = []  #empty list
for i in urls:
    driver.get(i)
    Price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in Price:
        product_price.append(i.text)
product_price = product_price[:100]
product_price

['₹739',
 '₹549',
 '₹295',
 '₹455',
 '₹509',
 '₹669',
 '₹299',
 '₹219',
 '₹225',
 '₹299',
 '₹969',
 '₹599',
 '₹225',
 '₹539',
 '₹210',
 '₹179',
 '₹599',
 '₹499',
 '₹225',
 '₹664',
 '₹599',
 '₹246',
 '₹969',
 '₹1,009',
 '₹379',
 '₹404',
 '₹331',
 '₹474',
 '₹599',
 '₹214',
 '₹210',
 '₹699',
 '₹334',
 '₹426',
 '₹349',
 '₹219',
 '₹398',
 '₹949',
 '₹379',
 '₹664',
 '₹379',
 '₹609',
 '₹474',
 '₹739',
 '₹295',
 '₹257',
 '₹1,479',
 '₹179',
 '₹239',
 '₹225',
 '₹224',
 '₹219',
 '₹629',
 '₹609',
 '₹969',
 '₹664',
 '₹516',
 '₹239',
 '₹309',
 '₹664',
 '₹319',
 '₹299',
 '₹211',
 '₹699',
 '₹331',
 '₹202',
 '₹474',
 '₹1,009',
 '₹209',
 '₹217',
 '₹269',
 '₹426',
 '₹249',
 '₹599',
 '₹225',
 '₹664',
 '₹314',
 '₹225',
 '₹669',
 '₹219',
 '₹189',
 '₹430',
 '₹499',
 '₹739',
 '₹255',
 '₹487',
 '₹639',
 '₹179',
 '₹282',
 '₹293',
 '₹209',
 '₹219',
 '₹295',
 '₹599',
 '₹399',
 '₹599',
 '₹349',
 '₹426',
 '₹559',
 '₹664']

In [161]:
len(product_price)

100

In [166]:
# Scraping data for product Discount %
Product_Discount= []  #empty list
for i in urls:
    driver.get(i)
    Discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in Discount:
        Product_Discount.append(i.text)
Product_Discount =Product_Discount[:100]
Product_Discount

['71% off',
 '88% off',
 '88% off',
 '43% off',
 '36% off',
 '25% off',
 '88% off',
 '45% off',
 '85% off',
 '88% off',
 '25% off',
 '78% off',
 '85% off',
 '32% off',
 '82% off',
 '66% off',
 '33% off',
 '77% off',
 '79% off',
 '66% off',
 '33% off',
 '83% off',
 '25% off',
 '68% off',
 '81% off',
 '79% off',
 '74% off',
 '68% off',
 '25% off',
 '69% off',
 '85% off',
 '53% off',
 '72% off',
 '80% off',
 '76% off',
 '77% off',
 '73% off',
 '26% off',
 '81% off',
 '78% off',
 '81% off',
 '32% off',
 '78% off',
 '71% off',
 '85% off',
 '78% off',
 '26% off',
 '88% off',
 '76% off',
 '85% off',
 '62% off',
 '78% off',
 '30% off',
 '32% off',
 '25% off',
 '66% off',
 '66% off',
 '84% off',
 '66% off',
 '53% off',
 '83% off',
 '76% off',
 '78% off',
 '68% off',
 '83% off',
 '83% off',
 '68% off',
 '66% off',
 '88% off',
 '78% off',
 '82% off',
 '78% off',
 '79% off',
 '33% off',
 '85% off',
 '55% off',
 '80% off',
 '85% off',
 '25% off',
 '78% off',
 '81% off',
 '82% off',
 '66% off',
 '71% off',
 '74% off',
 '68% off',
 '70% off',
 '88% off',
 '87% off',
 '82% off',
 '79% off',
 '78% off',
 '88% off',
 '25% off',
 '81% off',
 '66% off',
 '76% off',
 '78% off',
 '30% off',
 '66% off']

In [168]:
len(Product_Discount)

100

In [169]:
# Checking length of scraped data
print(len(glass_brand),len(product_desc),len(product_price),len(Product_Discount))

100 100 100 100

In [170]:
# Creating DataFrame for the scraped data
sunglasses = pd.DataFrame({})
sunglasses["Brand"] = glass_brand
sunglasses["Product Description"] = product_desc
sunglasses["Price"] = product_price
sunglasses["Discount%"] = Product_Discount
sunglasses

,Brand,Product Description,Price,Discount%
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹739,71% off
1,hipe,UV Protection Round Sunglasses (Free Size),₹549,88% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹455,43% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹509,36% off
...,...,...,...,...
95,Villain,Others Retro Square Sunglasses (Free Size),₹599,66% off
96,Flizz,"UV Protection, Riding Glasses Rectangular, Ret...",₹349,76% off
97,ROYAL SON,"Gradient, UV Protection Round Sunglasses (Free...",₹426,78% off
98,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (Free Size),₹559,30% off
99,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹664,66% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the 
link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

**1. Rating** 

**2. Review_summary** 

**3. Full review**

**You have to scrape this data for first 100 reviews**

In [ ]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [179]:
# Getting the webpage of mentioned url
url = ' https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [180]:
#Searching web elemnt for reviews
search_reviews = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
search_reviews

In [181]:
# Cliking on view all
search_all = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")

search_all.click()

In [182]:
# Fetching all the URLs 
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")

urls = []  #empty list
for i in url:
    urls.append(i.get_attribute('href'))
urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [183]:
# Scraping data for iphone ratings
iphone_ratings= []  #empty list
for i in urls:
    driver.get(i)
    Ratings = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in Ratings:
        iphone_ratings.append(i.text)
iphone_ratings =iphone_ratings[:100]
iphone_ratings

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '3',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '3',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [186]:
len(iphone_ratings)

100

In [184]:
# Scraping data for iphone review summary
review_sum= []  #empty list
for i in urls:
    driver.get(i)
    rev_sum = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in rev_sum:
        review_sum.append(i.text)
review_sum =review_sum[:100]
review_sum

['Simply awesome',
 'Brilliant',
 'Fabulous!',
 'Perfect product!',
 'Worth every penny',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Nice product',
 'Wonderful',
 'Classy product',
 'Brilliant',
 'Must buy!',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Great product',
 'Simply awesome',
 'Mind-blowing purchase',
 'Terrific purchase',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Worth every penny',
 'Great product',
 'Very Good',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Terrific',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific',
 'Perfect product!',
 'Awesome',
 'Perfect product!',
 'Excellent',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Perfect product!',
 'Value-for-money',
 'Just wow!',
 'Super!',
 'Awesome',
 'Best in the market!',
 'Highly recommended',
 'Mind-blowing purchase',
 'Must buy!',
 'Excellent',
 'Excellent',
 'Pretty good',
 'Wonderful',
 'Worth every penny',
 'Worth every penny',
 'Nice product',
 'Mind-blowing purchase',
 'Does the job',
 'Fabulous!',
 'Classy product',
 'Awesome',
 'Pretty good',
 'Classy product',
 'Terrific',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Super!',
 'Fabulous!',
 'Just wow!',
 'Mind-blowing purchase',
 'Excellent']

In [187]:
len(review_sum)

100

In [185]:
# Scraping data for iphone full review summary
full_review_sum= []  #empty list
for i in urls:
    driver.get(i)
    Review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in Review:
        full_review_sum.append(i.text)
full_review_sum = full_review_sum[:100]
full_review_sum

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Really worth of money. i just love it. It is the best phone ever.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️',
 'Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri...\nREAD MORE',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.\n\n1. iPhone 11 is a pretty solid phone for the money you are paying.\n2. All the bad reviews about the display is confusing. It’s not that bad.\n3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.\n4. Performance is one of the best, if not best, in ...\nREAD MORE',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 "I upgraded (downgraded?) from my iPhone X since the phone fell down and I didn't want to repair the screen. The box that the phone came in was super slim and I was worried that there'd be no 5W charger with it and my fears were confirmed. However, thankfully I had the 18W USB-C PD charger from Apple which I bought for my iPhone X and it worked perfectly. The charging time is as lethargic as ever though and it takes about 1:30 mins or even 2 hours depending on charge remaining. I'll list some ...\nREAD MORE",
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say\nBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.\n\nAs for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.\n\nThe battery runs for a day with medium and high workload.\n\nThe display is good and the speakers are working fine.\n\nThe earphones doesn't have any base and you can use it for calling mostly.\n\nThe charging time is approximately for 90 minutes for full charging...\nREAD MORE",
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click baby’s photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Haven’t tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.',

In [188]:
len(full_review_sum)

100

In [189]:
# Creating DataFrame for scraped data
iphone_review = pd.DataFrame({})
iphone_review["Ratings"] = iphone_ratings
iphone_review["Review Summary"] = review_sum
iphone_review["Full Review"] = full_review_sum
iphone_review

,Ratings,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Fabulous!,This is my first iOS phone. I am very happy wi...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
98,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
99,5,Excellent,A perfect phone and a good battery super camer...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

**You have to scrape 4 attributes of each sneaker :**
    
**1. Brand**

**2. Product Description**

**3. Price**

**4. discount %**

In [194]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [195]:
# Getting the webpage of mentioned url
url = 'https://www.flipkart.com/'
driver.get(url)

In [197]:
#Searching web elemnet for first 100 sneakers
search_sneakers = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_sneakers

In [198]:
# Entering sneakers in the search field
search_sneakers.send_keys('sneakers')

In [201]:
# Clicking on search button
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [202]:
#Fetching all the URLs
url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")

urls = []  #empty list
for i in url:
    urls.append(i.get_attribute('href'))
urls

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2']

In [203]:
# Scraping data for sneakers brand
sneakers_brand= []  #empty list
for i in urls:
    driver.get(i)
    Brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in Brand:
        sneakers_brand.append(i.text)
sneakers_brand =sneakers_brand[:100]
sneakers_brand

['DUCATI',
 'DUCATI',
 'Numenzo',
 'Chevit',
 'bluemaker',
 'Magnolia',
 'Chevit',
 'Labbin',
 'World Wear Footwear',
 'Red Rose',
 'Numenzo',
 'DUCATI',
 'Chevit',
 'ASTEROID',
 'BRUTON',
 'Strollin',
 'Shoes Bank',
 'India hub',
 'Chevit',
 'aadi',
 'PEHANOSA',
 'Robbie jones',
 'SCATCHITE',
 'DUCATI',
 'BRUTON',
 'Chevit',
 'believe',
 'ROCKFIELD',
 'luxury fashion',
 'RODDICK SHOES',
 'Nilatin',
 'DUCATI',
 'Creer',
 'ROCKFIELD',
 'World Wear Footwear',
 'RODDICK SHOES',
 'Nilatin',
 'Kraasa',
 'SPARX',
 'Robbie jones',
 'D-SNEAKERZ',
 'Arohi',
 'CALCADOS',
 'DUCATI',
 'T-ROCK',
 'SPARX',
 'India hub',
 'DUCATI',
 'BIRDE',
 'bluemaker',
 'World Wear Footwear',
 'RODDICK SHOES',
 'Ktiz',
 'PUMA',
 'PUMA',
 'Labbin',
 'Zsyto',
 'World Wear Footwear',
 'restinfoot',
 'DUCATI',
 'D-SNEAKERZ',
 'Edoeviv',
 'Zixer',
 'Strollin',
 'tigonis',
 'Xylus',
 'Nilatin',
 'aadi',
 'Chevit',
 'Magnolia',
 'Fzzirok',
 'BRUTON',
 'D-SNEAKERZ',
 'SPARX',
 'Robbie jones',
 'DUCATI',
 'Jokatoo',
 'Jack Diamond',
 'Ktiz',
 'RODDICK SHOES',
 'kardam&sons',
 'luxury fashion',
 'Robbie jones',
 'DUCATI',
 'WRIZT',
 'SPARX',
 'Zorth',
 'DUCATI',
 'Bonexy',
 'Robbie jones',
 'RED TAPE',
 'RODDICK SHOES',
 'PUMA',
 'FILA',
 'ROCKFIELD',
 'DUCATI',
 'SPARX',
 'Creer',
 'Labbin',
 'Strollin']

In [204]:
len(sneakers_brand)

100

In [208]:
# Scraping data for sneakers product description
sneakers_desc= []  #empty list
for i in urls:
    driver.get(i)
    description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in description:
        sneakers_desc.append(i.text)
sneakers_desc =sneakers_desc[:100]
sneakers_desc

['Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers For Men',
 '494 Perfect Sports Shoes for Running Training Hikking &...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Perfect & Affordable Combo Pack of 03 Pairs Casual Snea...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers for men(black_6) Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Series 7 Sneakers For Men',
 'Black Sneaker For Men Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Trend Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Casual Sneakers White Shoes For Men And Boys Sneakers F...',
 'Men Boxer Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'casual for men (beige 06) Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Men White Sneakers Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'casual for men (black 08) Sneakers For Men',
 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'X-Ray Sneakers For Men',
 'Acrux IDP Sneakers For Men',
 'Sneakers For Men',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Re...",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Double protection Stylish & Comfortable Running & Sport...',
 'White Sneaker For Men Sneakers For Men',
 'Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'Walking Shoes For Men (Black) Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Subtle Grace Canvas Shoes For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashionable casual sneaker shoes Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'SM-162 Sneakers For Men',
 'EMAN Sneakers For Men',
 'Sneakers For Men',
 'Caracal Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Rigel IDP Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Walking Shoes For Men (Black) Sneakers For Men',
 'Puma Rebound LayUp SL Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'SM-675 Sneakers For Men']

In [209]:
len(sneakers_desc)

100

In [210]:
# Scraping data for sneakers price
sneakers_price= []  #empty list
for i in urls:
    driver.get(i)
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price:
        sneakers_price.append(i.text)
sneakers_price =sneakers_price[:100]
sneakers_price

['₹1,289',
 '₹399',
 '₹378',
 '₹420',
 '₹399',
 '₹356',
 '₹536',
 '₹1,259',
 '₹240',
 '₹299',
 '₹426',
 '₹449',
 '₹254',
 '₹474',
 '₹399',
 '₹1,259',
 '₹331',
 '₹449',
 '₹679',
 '₹399',
 '₹424',
 '₹474',
 '₹398',
 '₹299',
 '₹499',
 '₹594',
 '₹399',
 '₹449',
 '₹399',
 '₹474',
 '₹407',
 '₹1,209',
 '₹398',
 '₹299',
 '₹240',
 '₹399',
 '₹416',
 '₹426',
 '₹635',
 '₹1,259',
 '₹348',
 '₹464',
 '₹748',
 '₹1,289',
 '₹378',
 '₹625',
 '₹449',
 '₹1,259',
 '₹624',
 '₹399',
 '₹429',
 '₹474',
 '₹240',
 '₹2,730',
 '₹1,350',
 '₹449',
 '₹555',
 '₹378',
 '₹341',
 '₹1,259',
 '₹240',
 '₹346',
 '₹474',
 '₹399',
 '₹359',
 '₹599',
 '₹407',
 '₹399',
 '₹348',
 '₹311',
 '₹360',
 '₹299',
 '₹384',
 '₹379',
 '₹506',
 '₹399',
 '₹806',
 '₹635',
 '₹378',
 '₹1,209',
 '₹449',
 '₹378',
 '₹379',
 '₹1,289',
 '₹279',
 '₹474',
 '₹635',
 '₹1,259',
 '₹474',
 '₹730',
 '₹951',
 '₹474',
 '₹4,999',
 '₹424',
 '₹379',
 '₹1,259',
 '₹378',
 '₹449',
 '₹449',
 '₹399']

In [211]:
len(sneakers_price)

100

In [212]:
# Scraping data for sneakers discount %
sneakers_discount= []  #empty list
for i in urls:
    driver.get(i)
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in discount:
        sneakers_discount.append(i.text)
sneakers_discount =sneakers_discount[:100]
sneakers_discount

['65% off',
 '65% off',
 '62% off',
 '71% off',
 '60% off',
 '64% off',
 '66% off',
 '55% off',
 '51% off',
 '70% off',
 '78% off',
 '65% off',
 '74% off',
 '76% off',
 '88% off',
 '60% off',
 '66% off',
 '85% off',
 '72% off',
 '85% off',
 '57% off',
 '52% off',
 '60% off',
 '68% off',
 '80% off',
 '77% off',
 '69% off',
 '60% off',
 '60% off',
 '52% off',
 '68% off',
 '65% off',
 '60% off',
 '70% off',
 '51% off',
 '52% off',
 '58% off',
 '67% off',
 '9% off',
 '62% off',
 '47% off',
 '53% off',
 '62% off',
 '65% off',
 '62% off',
 '16% off',
 '85% off',
 '65% off',
 '68% off',
 '60% off',
 '66% off',
 '52% off',
 '51% off',
 '57% off',
 '59% off',
 '55% off',
 '44% off',
 '70% off',
 '65% off',
 '65% off',
 '51% off',
 '65% off',
 '40% off',
 '60% off',
 '80% off',
 '62% off',
 '68% off',
 '85% off',
 '30% off',
 '68% off',
 '63% off',
 '88% off',
 '61% off',
 '62% off',
 '66% off',
 '68% off',
 '15% off',
 '36% off',
 '62% off',
 '65% off',
 '55% off',
 '70% off',
 '87% off',
 '65% off',
 '72% off',
 '52% off',
 '9% off',
 '80% off',
 '52% off',
 '23% off',
 '69% off',
 '65% off',
 '57% off',
 '62% off',
 '52% off',
 '62% off',
 '55% off',
 '55% off',
 '65% off',
 '70% off']

In [213]:
len(sneakers_discount)

100

In [215]:
# Creating DataFrame for the scraped data
sneakers = pd.DataFrame({})
sneakers["Brand"] = sneakers_brand
sneakers["Product Description"] = sneakers_desc
sneakers["Price"] = sneakers_price
sneakers["Discount %"] = sneakers_discount
sneakers

,Brand,Product Description,Price,Discount %
0,DUCATI,Sneakers For Men,"₹1,289",65% off
1,DUCATI,Unique & Perfect Collection Combo Pack of 02 S...,₹399,65% off
2,Numenzo,casual for men (blue 06) Sneakers For Men,₹378,62% off
3,Chevit,Sneakers For Men,₹420,71% off
4,bluemaker,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹399,60% off
...,...,...,...,...
95,DUCATI,Walking Shoes For Men (Black) Sneakers For Men,"₹1,259",62% off
96,SPARX,Puma Rebound LayUp SL Sneakers For Men,₹378,55% off
97,Creer,Sneakers For Men,₹449,55% off
98,Labbin,Sneakers For Men,₹449,65% off
99,Strollin,SM-675 Sneakers For Men,₹399,70% off

### Q9: Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [19]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [20]:
# Getting the webpage of mentioned url
url = "https://www.myntra.com/shoes"
driver.get(url)

In [21]:
# Searching for filter element
search_filter = driver.find_element_by_xpath("//span[@class='header-title']")
search_filter.click()

In [222]:
# Setting Price filter to Rs.6649 to Rs.13099
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

In [223]:
# Setting Color filter to “Black”
color_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color_filter.click()

In [233]:
#Fetching all the URLs
url = driver.find_elements_by_xpath("//li[@class='pagination-active'or @class='pagination-number']/a")

urls = []  #empty list
for i in url:
    urls.append(i.get_attribute('href'))
urls

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0&p=5',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0&p=6',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0&p=7',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0&p=8',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0&p=9',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5342.0_10495.0_5342.0%20TO%2010495.0%2C5387.0_10525.0_5387.0%20TO%2010525.0&p=10']

In [234]:
# Scraping data for first 100 shoes

# Scraping data for brand of the shoes
shoes_brand= []  #empty list
for i in urls:
    driver.get(i)
    brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand:
        shoes_brand.append(i.text)
shoes_brand =shoes_brand[:100]
shoes_brand

['Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Nike',
 'ADIDAS',
 'ADIDAS',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Skechers',
 'Puma',
 'Hush Puppies',
 'Geox',
 'Hush Puppies',
 'FORCLAZ By Decathlon',
 'Quechua By Decathlon',
 'PUMA Hoops',
 'Puma',
 'Geox',
 'Puma',
 'UNDER ARMOUR',
 'Bugatti',
 'Hush Puppies',
 'UNDER ARMOUR',
 'Quechua By Decathlon',
 'Hush Puppies',
 'Hush Puppies',
 'Geox',
 'Puma',
 'Nike',
 'PUMA Hoops',
 'Puma',
 'Puma',
 'Nike',
 'Puma',
 'Geox',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Xtep',
 'Hush Puppies',
 'DAVINCHI',
 'Xtep',
 'Lacoste',
 'Jack & Jones',
 'Hush Puppies',
 'RARE RABBIT',
 'UNDER ARMOUR',
 'Ruosh',
 'FORCLAZ By Decathlon',
 'TARMAK By Decathlon',
 'PUMA Motorsport',
 'Ruosh',
 'Puma',
 'UNDER ARMOUR',
 'RARE RABBIT',
 'one8 Select BY VIRAT KOHLI',
 'Geox',
 'Geox',
 'Kalenji By Decathlon',
 'J.FONTINI',
 'Kenneth Cole',
 'Cole Haan',
 'Geox',
 'J.FONTINI',
 'Geox',
 'Bugatti',
 'Hush Puppies',
 'Hush Puppies',
 'Heel & Buckle London',
 'Xtep',
 'Geox',
 'Alberto Torresi',
 'PUMA Motorsport',
 'Puma',
 'Ruosh',
 'J.FONTINI',
 'Geox',
 'J.FONTINI',
 'Bugatti',
 'KIPRUN By Decathlon',
 'Metro',
 'Kenneth Cole',
 'Geox',
 'ASICS',
 'Clarks',
 'Quechua By Decathlon',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Ruosh']

In [235]:
len(shoes_brand)

100

In [236]:
# Scraping data for short description of shoes
shoes_desc= []  #empty list
for i in urls:
    driver.get(i)
    description = driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in description:
        shoes_desc.append(i.text)
shoes_desc =shoes_desc[:100]
shoes_desc

['Men ZOOM SPAN 3 Running Shoes',
 'Men Charged Bandit 6 Running',
 'Men HOVR Sonic STRT Tech Shoes',
 'Axelion Block Running Shoes',
 'Men Charged Vantage Running',
 'Men Solid Leather Formal Oxfords',
 'Men Printed Slip-On Sneakers',
 'Men Crater Remixa Sneakers',
 'Women Response SR Running',
 'Women SUPERNOVA Running Shoes',
 'Unisex Project Rock Recruit',
 'Men Cell Fraction Fade Running',
 'Men Charged Pursuit 2 SE Shoes',
 'Men Perforated Slip On Sneaker',
 'Men Charged Assert 8 Marble',
 'Men Charged Pursuit 2 SE',
 'Women Charged Vantage ClrShft',
 'Men Equalizer 4.0 Trail',
 'Men Charged Commit 3 Training',
 'GS SC 3Zero IV Basketball',
 'Women Deviate Nitro Running',
 'Men Charged Rogue 2.5 RFLCT',
 'Men Formal Derbys',
 'Men SOFTRIDE Rift Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'TREKKING 100 Boots',
 'Men Textured Leather Loafers',
 'Unisex Clyde Basketball Shoes',
 'Women Waterproof Hiking Shoes',
 'Men Leader VT Running Shoes',
 'Women BETTER FOAM Adore Shoes',
 'Men Perforations Leather Brogues',
 'Men Leather Formal Derbys',
 'Men Victory Sneakers',
 'Women UltraRide Running Shoes',
 'Men Perforated Mule Sneakers',
 'Men Leather Slip-On Sneakers',
 'Women Liquify Rebel Running',
 'Men Trekking Shoes',
 'Men Leather Formal Brogues',
 'Men Colourblocked Driving Shoes',
 'Men Perforations Brogues',
 'Women Eternity Nitro Running',
 'Unisex Clyde Basketball Shoes',
 "Men BlazerLow '77 Sneakers",
 'Unisex Future Rider Sneakers',
 'Women AIR MAX VIVA Sneakers',
 'Men Running Shoes',
 'Men Leather Formal Slip-Ons',
 'Women Running Shoes',
 'Men Driving Shoes Casual Shoes',
 'Men Leather Formal Oxfords',
 'Men Textured Leather Loafers',
 'Men Woven Design Slip-On Sneakers',
 'Men Leather Flat Boots',
 'Men Solid Leather Formal Slip-Ons',
 'Women Charged Impulse Shft',
 'Men Hiking Shoes',
 'Men Basketball Shoes',
 'Men Solid Leather Formal Oxfords',
 'Unisex Sneakers',
 'Men Perforations Leather Brogues',
 'Men Formal Leather Brogues',
 'Men Phade Running Shoes',
 'Men Driving Shoes',
 'Men Solid Sneakers',
 'Men Textured Leather Handcrafted Sole Wingman Formal Slip-Ons',
 'Men Solid Loafers',
 'Men Perforations Brogues',
 'Men Wingtip Oxford Sneakers',
 'Men Solid Leather Formal Brogues',
 'Men Leather Formal Derbys',
 'Men Sneakers',
 'Men Colourblocked Leather Derbys',
 'Men Leather Formal Derbys',
 'Men Leather Semiformal Driving',
 'Men Textured Leather Driving Shoes',
 'Men Leather Derbys',
 'Women Leather Stilettos',
 'Men Solid Leather Formal Slip-Ons',
 'AIR MEGA Energy Ring Shoes',
 'Men Leather Formal Slip Ons',
 'Men Sneakers',
 'Unisex Ferrari Sneakers',
 'Women Velocity Nitro Running',
 'Men Textured Derbys',
 'Men Solid Leather Formal Derbys',
 'Men Leather Formal Brogues',
 'Men Leather Formal Slip-Ons',
 'Men Solid Formal Loafers',
 'Men Textured Leather Formal Loafers',
 'Women Running Shoes',
 'Men Leather Boots',
 'Men Solid Leather Formal Oxfords',
 'Basketweave Block Heels',
 'Men Textured Leather Formal Derbys',
 'Women Running Shoes',
 'Men Solid Leather Formal Derbys',
 'Waterproof Walking Shoes']

In [237]:
len(shoes_desc)

100

In [241]:
# Scraping data for price of the shoes
shoes_price= []  #empty list
for i in urls:
    driver.get(i)
    price = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for i in price:
        shoes_price.append(i.text)
shoes_price =shoes_price[:100]
shoes_price

['Rs. 5396Rs. 7195',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 7999',
 'Rs. 5399Rs. 5999',
 'Rs. 9899Rs. 10999',
 'Rs. 5495',
 'Rs. 6079Rs. 7599',
 'Rs. 6999Rs. 9999',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8099Rs. 8999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 6499',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 9749Rs. 14999',
 'Rs. 7999',
 'Rs. 8999Rs. 9999',
 'Rs. 6499',
 'Rs. 6299Rs. 6999',
 'Rs. 6299Rs. 8999',
 'Rs. 6999',
 'Rs. 6990',
 'Rs. 8999',
 'Rs. 5499',
 'Rs. 5999',
 'Rs. 5499',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 6299Rs. 8999',
 'Rs. 5599Rs. 6999',
 'Rs. 6999Rs. 9999',
 'Rs. 6299Rs. 8999',
 'Rs. 9999',
 'Rs. 5399Rs. 5999',
 'Rs. 6299Rs. 8999',
 'Rs. 5995',
 'Rs. 8449Rs. 12999',
 'Rs. 7149Rs. 10999',
 'Rs. 7195',
 'Rs. 6999',
 'Rs. 8121Rs. 12495',
 'Rs. 6499',
 'Rs. 8099Rs. 8999',
 'Rs. 6499',
 'Rs. 7999',
 'Rs. 8099Rs. 8999',
 'Rs. 5399Rs. 5999',
 'Rs. 5699',
 'Rs. 5990',
 'Rs. 5399Rs. 5999',
 'Rs. 5950Rs. 8500',
 'Rs. 5999',
 'Rs. 7499',
 'Rs. 8099Rs. 8999',
 'Rs. 5639Rs. 5999',
 'Rs. 5499',
 'Rs. 8094Rs. 13490',
 'Rs. 5849Rs. 8999',
 'Rs. 6299Rs. 8999',
 'Rs. 7490',
 'Rs. 6499',
 'Rs. 7199Rs. 7999',
 'Rs. 5399Rs. 5999',
 'Rs. 8990',
 'Rs. 10399Rs. 12999',
 'Rs. 5663Rs. 8990',
 'Rs. 9899Rs. 10999',
 'Rs. 9999',
 'Rs. 8099Rs. 8999',
 'Rs. 6990',
 'Rs. 6399Rs. 7999',
 'Rs. 10490',
 'Rs. 5599Rs. 7999',
 'Rs. 5592Rs. 6990',
 'Rs. 8999Rs. 9999',
 'Rs. 5599Rs. 6999',
 'Rs. 5995',
 'Rs. 9999',
 'Rs. 5599Rs. 7999',
 'Rs. 6999',
 'Rs. 7149Rs. 10999',
 'Rs. 6990',
 'Rs. 6990',
 'Rs. 9449Rs. 10499',
 'Rs. 6490',
 'Rs. 7999',
 'Rs. 7006Rs. 7149',
 'Rs. 5990',
 'Rs. 8999',
 'Rs. 5803Rs. 8290',
 'Rs. 6299Rs. 6999',
 'Rs. 5599Rs. 7999',
 'Rs. 6209Rs. 8999']

In [243]:
len(shoes_price)

100

In [244]:
# Creating DataFrame for the scraped data
shoes = pd.DataFrame({})
shoes["Brand"] = shoes_brand
shoes["Short Description"] = shoes_desc
shoes["Price"] = shoes_price
shoes

                   Brand                   Short Description             Price
0                   Nike       Men ZOOM SPAN 3 Running Shoes  Rs. 5396Rs. 7195
1           UNDER ARMOUR        Men Charged Bandit 6 Running          Rs. 8999
2           UNDER ARMOUR      Men HOVR Sonic STRT Tech Shoes          Rs. 9999
3                   Puma         Axelion Block Running Shoes          Rs. 5999
4           UNDER ARMOUR         Men Charged Vantage Running          Rs. 7999
..                   ...                                 ...               ...
95                Clarks             Basketweave Block Heels          Rs. 8999
96  Quechua By Decathlon  Men Textured Leather Formal Derbys  Rs. 5803Rs. 8290
97          UNDER ARMOUR                 Women Running Shoes  Rs. 6299Rs. 6999
98          UNDER ARMOUR     Men Solid Leather Formal Derbys  Rs. 5599Rs. 7999
99                 Ruosh            Waterproof Walking Shoes  Rs. 6209Rs. 8999

[100 rows x 3 columns]

### Q10: Go to webpage https://www.amazon.in/ 
**Scrape first 10 laptops data. You have to scrape**

**1. title**

**2. Ratings**

**3. Price**

In [82]:
# Connecting to the webdriver
driver = webdriver.Chrome('chromedriver.exe')

In [83]:
# Getting the webpage of mentioned url
url = " https://www.amazon.in/"
driver.get(url)

In [84]:
# Searching webelement for laptops
search_laptops = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_laptops

In [85]:
# Entering “Laptop” in the search field
search_laptops.send_keys("Laptop")

In [86]:
# Clicking on the search button
search_btn = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_btn.click()

In [87]:
# Setting CPU Type filter to “Intel Core i7” and “Intel Core i9” 
cpu_filter = driver.find_element_by_xpath("//span[@class='a-size-base a-color-base a-text-bold']")
cpu_filter

In [89]:
# Setting CPU Type filter to "Intel Core i7"
intel_i7 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[4]/li[26]/span/a/span")
intel_i7.click()

In [90]:
# Setting CPU Type filter to "Intel Core i9"
intel_i9 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[4]/li[28]/span/a/span")
intel_i9.click()

In [91]:
# Scraping data for laptop titles
titles = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")

laptop_titles = []  #empty list
for i in titles:
        laptop_titles.append(i.text)
laptop_titles =laptop_titles[:10]
laptop_titles

['MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-10870H 10th Gen, NVIDIA GeForce GTX 1650 4GB Graphics, Gaming Laptop(8GB/512GB SSDWindows 10/Gray/2.3 Kg), FX566LH-HN255T',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'Lenovo Legion 5 10th Gen Intel Core i7-10750H 15.6" (39.63cm) FHD IPS Gaming Laptop (16GB/512GB SSD/Windows 10/NVIDIA GTX 1650 4GB/120Hz Refresh Display/Phantom Black/2.3Kg), 82AU00PNIN',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN']

In [92]:
# Scraping data for laptop price
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

laptop_price= []  #empty list
for i in price:
    laptop_price.append(i.text)
laptop_price =laptop_price[:10]
laptop_price

['81,990',
 '1,07,990',
 '59,490',
 '84,990',
 '81,990',
 '71,990',
 '34,990',
 '74,990',
 '82,990',
 '90,490']

In [93]:
#Fetching all the URLs
url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

urls = []  #empty list
for i in url[0:20]:
    urls.append(i.get_attribute('href'))

In [94]:
# Scraping data for laptop ratings
laptop_ratings= []  #empty list
for i in urls:
    driver.get(i)
    try:
        driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']").click()
        ratings = driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        laptop_ratings.append(ratings.text)
    except NoSuchElementException as e :
        laptop_ratings.append('-')
laptop_ratings =laptop_ratings[:10]
laptop_ratings

['3.7 out of 5',
 '4.5 out of 5',
 '4.4 out of 5',
 '4.3 out of 5',
 '3.7 out of 5',
 '4 out of 5',
 '3.8 out of 5',
 '4.6 out of 5',
 '4.4 out of 5',
 '4 out of 5']

In [95]:
# Checking the length of the scraped data
print(len(laptop_titles),len(laptop_ratings),len(laptop_price))

10 10 10

In [96]:
# Creating DataFrame for the scraped data
laptops = pd.DataFrame({})
laptops["Laptop Title"] = laptop_titles
laptops["Laptop Ratings"] = laptop_ratings
laptops["Laptop Price"] = laptop_price
laptops

,Laptop Title,Laptop Ratings,Laptop Price
0,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....",3.7 out of 5,"81,990"
1,"ASUS TUF Dash F15 (2021), 15.6"" (39.62 cms) FH...",4.5 out of 5,"1,07,990"
2,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.4 out of 5,"59,490"
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.3 out of 5,"84,990"
4,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....",3.7 out of 5,"81,990"
5,"ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...",4 out of 5,"71,990"
6,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.8 out of 5,"34,990"
7,"MSI GF75 Thin, Intel i7-10750H, 17.3"" (43.9 cm...",4.6 out of 5,"74,990"
8,Lenovo Legion 5 10th Gen Intel Core i7-10750H ...,4.4 out of 5,"82,990"
9,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4 out of 5,"90,490"